body {
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
	font-family: Chaparral Pro;
}

div#wrapper{
	margin-left: 80px;
	margin-top: 80px;
	width: 750px;
}

/******
HEADER
*******/

header {
	margin: 0;
	padding: 0;
	padding-left: 80px;
	background-color: #000;
	color: #fff;
}

header a {
	text-decoration: none;
	color: #fff;
}

header a:hover {
	color: #999;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 2.75em;
	font-weight: 400;
}

/****
TEXT
****/

h1 {
	font-weight: 400;
	font-size: 24px;
	line-height: 1.3em;
}

p {
	font-size: 18px;
	line-height: 1.3em;
}

p a {
	text-decoration: none;
	font-family: Source Sans Pro;
	font-size: 18px;
	font-weight: 600;
	color: #000;
	line-height: 1.75em;
}

p a:hover {
	color: #aaa;
}

/*******
BUTTONS
*******/

#go_tool {
	font-size: 18px; 
	font-family: Source Sans Pro; 
	height: 2em; 
	float: right; 
	margin-left: 10px;"
}

#reset {
	font-size: 18px; 
	font-family: Source Sans Pro; 
	height: 2em; 
	float: right;
}

/***********
INPUT FORM
************/

textarea {
	width: 750px; 
	height: 70px; 
	padding: 10px; 
	font-size: 24px;
}

label {
	font-size: 15px;
	font-weight: 800;
	font-family: Source Sans Pro;
	text-transform: uppercase;
	letter-spacing: 0.1em;	
	line-height: 2.25em;
}

div#all_dependent_vowels {
	font-family: serif;
	font-weight: 400;
	font-size: 24px;
}

div#all_various_signs {
	font-family: serif;
	font-weight: 400;
	font-size: 24px;
}

a#select_all_consonants_for_half_made {
	line-height: 2em; 
	color: #777;
	float: right;
}

a#select_all_consonants_for_test_against {
	line-height: 2em; 
	color: #777;
	float: right;
}

.small_link {
	line-height: 2em; 
	color: #777;
	float: right;
}

h3 {
	font-weight: 400;
	font-size: 18px;
}

/***********
OUTPUT AREA
************/

#tool_output {
	background-color: #fff;
	width: 730px;
	height: 140px;
	padding: 10px;
	font-size: 24px;
	margin-bottom: 80px;
	border: 1px solid #888;
}


h4 {
	font-weight: 400;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

/*******
FOOTER
*******/

footer {
	font-family: Source Sans Pro;
	font-size: 12px;
	padding-top: 30px;
	padding-bottom: 15px;
	position: fixed;
	bottom: 0px;
	width: 750px;
	background-color: #f5f5f5;
}